ERPNEXT_VERSION=v15.62.0
DB_PASSWORD=strong-db-password

# Optional but recommended for HTTPS and domain routing
LETSENCRYPT_EMAIL=your@email.com
SITES=`erp.yourdomain.com`

# Optional but useful for custom site routing
FRAPPE_SITE_NAME_HEADER=erp.yourdomain.com
HTTP_PUBLISH_PORT=80
